# Football Manager Analysis

## Set-up Environment

In [16]:
# Import libraries
import os
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import html5lib

In [17]:
# Set number of columns to display in dataframe to 60
pd.set_option('display.max_columns', 60)

### Set-up Folders

In [18]:
path = '/Users/nicksolly/Dev/footballManager/'
# Get the current working directory
cwd = os.getcwd()

print(f'Current working directory: {cwd}')

Current working directory: /Users/nicksolly/Dev/footballManager/notebooks

## Import exported file from FM24 in html format

In [19]:

# Define the file name
file_name = '20231109-Squad-NCL-AllAtributes.html'

# Define the file path
file_path = os.path.join(cwd, 'data', 'raw', file_name)

print(f'File path: {file_path}')

File path: /Users/nicksolly/Dev/footballManager/notebooks/data/raw/20231109-Squad-NCL-AllAtributes.html

In [22]:

# Import HTML file into pandas DataFrame 
df_squad = pd.read_html(file_path)

# print df_squad
print(df_squad)

# df_squad.head()

ImportError: html5lib not found, please install it

In [ ]:
df_squad.columns.nunique()

57

In [ ]:
df_squad.describe()

,Age,1v1,Acc,Aer,Agg,Agi,Ant,Bal,Bra,Cmd,Cnt,Cmp,Cro,Dec,Det,Dri,Fin,Fir,Fla,Han,Hea,Jum,Kic,Ldr,Lon,Mar,OtB,Pac,Pas,Pos,Ref,Sta,Str,Tck,Tea,Tec,Thr,TRO,Vis,Wor,UID,Cor
count,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,8.300000e+01,83.000000
mean,21.795181,3.180723,12.433735,3.506024,10.722892,11.638554,9.939759,9.891566,10.698795,3.216867,9.277108,9.566265,8.337349,10.939759,12.120482,8.951807,7.879518,10.662651,8.879518,3.518072,8.445783,10.024096,3.120482,8.084337,6.963855,7.385542,9.180723,12.289157,10.144578,9.433735,3.518072,10.493976,9.180723,8.903614,10.542169,10.409639,2.879518,3.626506,9.108434,11.277108,9.126349e+08,6.891566
std,5.195587,3.335488,2.922548,3.576255,3.224575,2.611318,3.951997,3.467663,3.760303,3.174011,3.493245,3.765028,4.252050,2.859939,3.858464,4.629976,4.393447,3.524400,4.209158,3.848856,3.898884,3.460494,2.782338,3.994523,3.858617,4.207517,4.234425,2.578192,3.257758,3.777962,4.070601,4.232204,3.963691,4.326928,4.025229,3.916931,3.017823,3.789301,3.659308,4.109220,9.814396e+08,3.672615
min,15.000000,1.000000,3.000000,1.000000,5.000000,5.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.517410e+05,1.000000
25%,18.000000,2.000000,11.000000,2.000000,8.000000,10.000000,7.000000,7.000000,8.000000,2.000000,7.000000,6.500000,4.000000,9.000000,11.000000,5.000000,5.000000,9.000000,5.000000,1.000000,6.000000,8.000000,2.000000,5.000000,3.000000,3.500000,6.500000,11.000000,8.000000,6.000000,1.000000,7.000000,6.000000,5.500000,7.000000,8.500000,1.000000,2.000000,6.000000,8.000000,2.812591e+07,4.000000
50%,20.000000,2.000000,13.000000,3.000000,11.000000,12.000000,11.000000,10.000000,11.000000,2.000000,10.000000,10.000000,9.000000,12.000000,13.000000,10.000000,9.000000,11.000000,9.000000,2.000000,8.000000,10.000000,2.000000,8.000000,7.000000,7.000000,9.000000,13.000000,11.000000,10.000000,2.000000,12.000000,10.000000,10.000000,11.000000,12.000000,2.000000,3.000000,10.000000,12.000000,7.902423e+07,6.000000
75%,25.000000,3.000000,14.000000,3.000000,13.000000,13.000000,13.000000,13.000000,13.000000,3.000000,12.000000,12.000000,11.000000,13.000000,15.000000,12.000000,11.000000,13.000000,12.500000,3.000000,12.000000,12.000000,3.000000,11.000000,10.000000,11.000000,12.000000,14.000000,12.000000,12.000000,3.000000,14.000000,12.000000,12.000000,14.000000,13.000000,3.000000,3.000000,12.000000,14.000000,2.000190e+09,9.000000
max,34.000000,18.000000,19.000000,18.000000,17.000000,17.000000,19.000000,15.000000,20.000000,17.000000,15.000000,18.000000,18.000000,17.000000,19.000000,19.000000,19.000000,19.000000,19.000000,16.000000,16.000000,19.000000,14.000000,18.000000,14.000000,16.000000,16.000000,17.000000,18.000000,16.000000,17.000000,18.000000,18.000000,16.000000,19.000000,19.000000,17.000000,17.000000,17.000000,20.000000,2.000302e+09,20.000000

In [ ]:
df_squad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 57 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Reg             83 non-null     object
 1   Inf             83 non-null     object
 2   Name            83 non-null     object
 3   Age             83 non-null     int64
 4   Wage            83 non-null     object
 5   Transfer Value  83 non-null     object
 6   Nat             83 non-null     object
 7   2nd Nat         83 non-null     object
 8   Position        83 non-null     object
 9   Personality     83 non-null     object
 10  Media Handling  83 non-null     object
 11  Av Rat          83 non-null     object
 12  Left Foot       83 non-null     object
 13  Right Foot      83 non-null     object
 14  Height          83 non-null     object
 15  1v1             83 non-null     int64
 16  Acc             83 non-null     int64
 17  Aer             83 non-null     int64
 18  Agg             83 non-null     int64
 19  Agi             83 non-null     int64
 20  Ant             83 non-null     int64
 21  Bal             83 non-null     int64
 22  Bra             83 non-null     int64
 23  Cmd             83 non-null     int64
 24  Cnt             83 non-null     int64
 25  Cmp             83 non-null     int64
 26  Cro             83 non-null     int64
 27  Dec             83 non-null     int64
 28  Det             83 non-null     int64
 29  Dri             83 non-null     int64
 30  Fin             83 non-null     int64
 31  Fir             83 non-null     int64
 32  Fla             83 non-null     int64
 33  Han             83 non-null     int64
 34  Hea             83 non-null     int64
 35  Jum             83 non-null     int64
 36  Kic             83 non-null     int64
 37  Ldr             83 non-null     int64
 38  Lon             83 non-null     int64
 39  Mar             83 non-null     int64
 40  OtB             83 non-null     int64
 41  Pac             83 non-null     int64
 42  Pas             83 non-null     int64
 43  Pos             83 non-null     int64
 44  Ref             83 non-null     int64
 45  Sta             83 non-null     int64
 46  Str             83 non-null     int64
 47  Tck             83 non-null     int64
 48  Tea             83 non-null     int64
 49  Tec             83 non-null     int64
 50  Thr             83 non-null     int64
 51  TRO             83 non-null     int64
 52  Vis             83 non-null     int64
 53  Wor             83 non-null     int64
 54  UID             83 non-null     int64
 55  Cor             83 non-null     int64
 56  Club            83 non-null     object
dtypes: int64(42), object(15)
memory usage: 37.1+ KB